<div class="container-fluid d-flex">
  <div class="row col-3 me-3 bg-original"></div>
  <div class="container-fluid">
    <h1 class="row justify-content-center my-3">目標が更新されました</h1>
    <%= link_to 'トップページへ戻る', root_path %>
  </div>
  <div class="row col-3 ms-3 bg-original"></div>
</div>